body{
    background-color: burlywood;
}

.card-wrapper{
    display:grid;
    gap:25px;
    grid-template-columns: repeat(auto-fit, 150px);
}

card.book{
    background-color: green;
    border-radius: 20px;
    padding: 20px;
    width: 120px;
}

form{
    display:flex;
    flex-direction: column;
}